{% extends "layout.html" %}

{% block body %}
    <form method="POST">
        {{form.csrf_token}}

        {{form.name.label}}
        {{form.name}}

        {{form.image_link.label}}
        {{form.image_link}}

        {{form.description.label}}
        {{form.description}}

        {{form.price.label}}
        {{form.price}}
        <input type="submit" value="Add">
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



{% endblock %}