{% extends "layout.html" %}

{% block body %}
    <form method="POST">
        <input type="text" placeholder="Enter your name" name="fullname">
        <input type="text" placeholder="Enter your address" name="address">
        <input type="email" placeholder="Enter your email" name="email">
        <select name="payment_method">
            <option value="plastic card">Plastic card</option>
            <option value="cash">Cash</option>
        </select>

        <input type="submit" value="Order now">
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}